<html>
	<head>
		<title>seller item detail page</title>
		<meta charset="utf-8">
 		<meta name="viewport" content="width=device-width, initial-scale=1.0">
 		<link href="/css/bootstrap.css" rel="stylesheet">
 		<link href="/css/bootstrap-theme.css" rel="stylesheet">
 		<link href="/css/index_itemDetail.css" rel="stylesheet">

 		<!-- Use internet source for icons-->
 		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	</head>

	<body>
		<div class = "container">
 			<div id="myHeader" class="header">
 				<table>
 					<td><div class="topIcon"><a href="seller_home"><i class="material-icons" style="font-size:50px;">backspace</i></a></div></td>
 					<td><h2>Details</h2></td>
 				</table>
 			</div>

 			<div class="details">
 			<table>
 				<td>
 					<div id="itemPic"><img src="/img/buyerMenuPic.png"></div>
 					<a href="seller_itemPhotos">more photos ...</a>
 				</td>
 				<td>
 					<table>
					<tr>
      					<td colspan="2">
      						<h4 class = "item_name">Food Name Here</h4>
      					</td>
      					<td></td>
      				</tr>
      				<tr>
						<td>
      						<p>Price: <strong>$5</strong></p>
      						<p>Pickup Time: <Strong>6:30 PM</Strong></p>
      					</td>
      				</tr>
					</table>
 				</td>
 			</table>

 			<table>
 				<tr>
 					<td>
 						<h3 class="info">- Bought by: XXX XXXXX</h3>
 					</td>
 					<td id="callAndText">
 						<i class="material-icons" style="font-size:50px;">call</i>
 						<i class="material-icons" style="font-size:50px;">textsms</i>
 					</td>
 				</tr>
 				<tr>
 					<td>
 						<h3 class="info">- Bought by: XXX XXXXX</h3>
 					</td>
 					<td id="callAndText">
 						<i class="material-icons" style="font-size:50px;">call</i>
 						<i class="material-icons" style="font-size:50px;">textsms</i>
 					</td>
 				</tr>
 				<tr>
 					<td>
 						<h3 class="info">- Bought by: XXX XXXXX</h3>
 					</td>
 					<td id="callAndText">
 						<i class="material-icons" style="font-size:50px;">call</i>
 						<i class="material-icons" style="font-size:50px;">textsms</i>
 					</td>
 				</tr>
 			</table>

 			<table>
 				<td>
 					<h3 class="info">- Pickup at:</h3>
 					<p class="text">9434 Gilman Drive, UC San Diego. The small town house by the Marshall Field</p>
 				</td>
 				<td>
 					<div class="topIcon"><i class="material-icons" style="font-size:50px;">location_on</i></div>
 				</td>
 			</table>
 			<h3 class="info">- Pickup Time: xx:xx</h3>
 			<h3 class="info">- Come and Learn to Cook This Item Allowed: Yes</h3>
 			<h3 class="info">- Description: </h3>
 			<p class="text">
 				This sdihd weu asdf aouf ahfee. efiuaf dsoufasiduf, sdijf. zzf, dfsf,dsf.
 				Hdijf dfj dsfj s fdh fj, fdsfgn fdsjj, sdnff fsf. sdjfi, dsfj, djfj, shei, sjfis asdjf.
 			</p>

 			<table>
 				<th>
 					- Order Numbers:
 				</th>
 				<td id="orderNumbers">
 					<strong>4</strong>
 				</td>
 			</table>

 			<table>
 				<td>
 					<a href="seller_home">
 						<button type="button">
 							<strong>DELETE</strong>
 						</button>
 					</a>
 				</td>
 			</table>

 			</div>

 		</div>

 	<script src="/js/jquery-1.11.0.js"></script>
 	<script src="/js/bootstrap.js"></script>
 	<script src="/js/userHome.js"></script>
	</body>
</html>
