<html>
	<head>
		<title>seller item detail page</title>
		<meta charset="utf-8">
 		<meta name="viewport" content="width=device-width, initial-scale=1.0">
 		<link href="/css/bootstrap.css" rel="stylesheet">
 		<link href="/css/bootstrap-theme.css" rel="stylesheet">
 		<link href="/css/addFromHistory.css" rel="stylesheet">

 		<!-- Use internet source for icons-->
 		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	</head>

	<body>
		<div class = "container">
 			<div>
 				<table>
 					<td><div class="topIcon"><a href="seller_addFromHistory"><i class="material-icons" style="font-size:50px;">backspace</i></a></div></td>
 					<td><h2>Details</h2></td>
 				</table>
 			</div>

 			<div class="details">
 			<table>
 				<td>
 					<div id="itemPic"><img src="/img/buyerMenuPic.png"></div>
 					<a href="seller_itemPhotos">more photos ...</a>
 				</td>
 				<td>
 					<table>
					<tr>
      					<td colspan="2">
      						<textarea rows="1" class = "item_name" style="max-width: 200px;">Food Name Here</textarea>
      					</td>
      					<td></td>
      				</tr>
      				<tr>
						<td>
      						<p>Price:<br> <textarea type="text" id="myInput" title="Type in a name" rows="1" style="max-width: 60px;">$5</textarea></p>
      						<p>Pickup Time:<br> <textarea type="text" id="myInput" title="Type in a name" rows="1" style="max-width: 60px;">06:30</textarea></p>
      					</td>
      				</tr>
					</table>
 				</td>
 			</table>

 			<table>
 				<td>
 					<h3 class="info">- Pickup at: <textarea rows="3" id="myInput" title="Type in a name">9434 Gilman Drive, UC San Diego. The small town house by the Marshall Field</textarea></h3>
 				</td>
 				<td>
 					<div class="topIcon"><i class="material-icons" style="font-size:50px;">location_on</i></div>
 				</td>
 			</table>
 			<h3 class="info">- Description: <textarea rows="3" id="myInput" title="Type in a name">Lorem XIg jiowjJDjfoi jfijei jjioghaef awefe lejae gewaeaf</textarea> </h3>

 			<table>
 				<td>
 					<a href="seller_home">
 						<button type="button">
 							<strong>POST!</strong>
 						</button>
 					</a>
 				</td>
 			</table>

 			</div>

 		</div> 

 	<script src="/js/jquery-1.11.0.js"></script>
 	<script src="/js/bootstrap.js"></script>
 	<script src="/js/userHome.js"></script>
	</body>
</html>